<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/profile.css">
  <title>Profile</title>
</head>

<body>
  <div id="algn">
    <div id="card">
      <div id="upper-bg">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2c/Default_pfp.svg/1200px-Default_pfp.svg.png"
          alt="profile-pic" class="profile-pic">
      </div>
      <div id="lower-bg">
        <div class="text">
          <p class="name">
            <%= fullName %>
          </p>
          <p class="title">
            <%= username %>
          </p>
        </div>
        <div id="icons">
          <a href="#" class="ico"><img width="48" height="48" src="https://img.icons8.com/color/48/gmail-new.png"
              alt="gmail-new" /></a>
          <a href="#" class="ico">
            <img width="48" height="48" src="https://img.icons8.com/fluency/48/github.png" alt="github" />
          </a>
          <a href="#" class="ico">
            <img width="48" height="48" src="https://img.icons8.com/color/48/linkedin.png" alt="linkedin" />
          </a>
          <a href="#" class="ico">
            <img width="48" height="48" src="https://img.icons8.com/color/48/facebook-new.png" alt="facebook-new" />
          </a>
        </div>
        <div id="btn">
          <a class="msg" href="/users/logout">LogMe Out</a>
        </div>
        <div id="l-c-s">
          <div class="num">
            <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/facebook-like--v1.png"
              alt="facebook-like--v1" />
            <span>35k</span>
          </div>
          <div class="num dvr"></div>
          <div class="num">
            <img width="48" height="48" src="https://img.icons8.com/fluency-systems-regular/48/speech-bubble--v1.png"
              alt="speech-bubble--v1" />
            <span>20k</span>
          </div>
          <div class="num dvr"></div>
          <div class="num">
            <img width="48" height="48" src="https://img.icons8.com/pulsar-line/48/share.png" alt="share" />
            <span>15k</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="license">
    <div class="ll"><a href="https://icons8.com/icon/P7UIlhbpWzZm/gmail">Gmail</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
    <div class="ll"><a href="https://icons8.com/icon/AZOZNnY73haj/github">GitHub</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
    <div class="ll"><a href="https://icons8.com/icon/13930/linkedin">LinkedIn</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
    <div class="ll"><a href="https://icons8.com/icon/118497/facebook">Facebook</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
    <div class="ll"><a href="https://icons8.com/icon/u8MTpAq972MG/like">Like</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
    <div class="ll"><a href="https://icons8.com/icon/8h51YOzhBJmT/comment">Comment</a> icon by <a
        href="https://icons8.com">Icons8</a></div>
  </div>
</body>

</html>